body {
    background-color: #556832;
    background-image: url("YEZ.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    font-size: 120%;
}
body {
	margin-top: 100px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-left: 70px;
	}

h1 {
	color: #BEF547;
	background-color: #556832;
        font-family: arial, verdana, sans-serif;
        font-variant: small-caps;
	font-size: 30px;
	text-decoration: overline;
	}
h1 {
	background: yellow;
	padding: 20px 20px 20px 80px;
	}
h1 {
	letter-spacing: 6px;
	}



p {
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	font-family: arial, sans-serif;
	text-indent: 30px;
	text-align: justify;
	}
p {
	margin: 5px 50px 5px 50px;
	}

p {
	letter-spacing: 3px;
	}
<p>Страхова́ние — особый вид <span class="benefit">экономических</span> отношений, призванный
обеспечить страховую <span class="benefit">защиту</span> людей и их дел от различного рода
опасностей<span class="benefit"></span>.</p>


#center {
    background: none repeat scroll 0 0 #f2e8c9;
    margin: 40px auto 0;
    padding: 40px 0;
    width: 1100px;
}

.col1 {
    width: 225px;
 background-color: #556832;
font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}

.left {
    float: left;
 background-color: #556832;
font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}

* {
    margin: 0;
    padding: 0;
}

.col3 {
    padding-right: 20px;
    width: 840px;
background-color: #556832;
font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}

.right {
    float: right;
background-color: #556832;
font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}

* {
    margin: 0;
    padding: 0;
}

.col4 {
    width: 400px;
background-color: #556832;
font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}

.left {
    float: left;
background-color: #556832;
font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}

* {
    margin: 0;
    padding: 0;
}

element.style {
    color: red;
    font-size: 18px;
    width: 250px;
}
.alert {
    background: none repeat scroll 0 0 #FEFFB8;
    padding: 8px 12px;
}

p, ul, ol {
    margin: 18px 30px 18px 0;
}

* {
    margin: 0;
    padding: 0;
}

element.style {
    color: #FEFFB8;
font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}
ul {
    list-style-type: none;
}

p, ul, ol {
    margin: 18px 30px 18px 0;
}

* {
    margin: 0;
    padding: 0;
}


element.style {
    color: blue;
ul {
    list-style-type: none;
}
}
* {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #AEDAF1;
    text-decoration: none;
font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}
ul {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
}

.col4 {
    width: 400px;
color: #B3B3B3;
    font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}

.left {
    float: left;
}

* {
    margin: 0;
    padding: 0;
}

element.style {
    color: red;
    font-size: 18px;
    width: 250px;
}
.alert {
    background: none repeat scroll 0 0 #f2e8c9;
    padding: 8px 12px;
}

p, ul, ol {
    margin: 18px 30px 18px 0;
}

ul {
    list-style-type: none;
}

p, ul, ol {
    margin: 18px 30px 18px 0;
}
element.style {
    color: red;
font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}
* {
    margin: 0;
    padding: 0;
}

element.style {
    padding-left: 10px;
color: #B3B3B3;
    font: 14px/20px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
}
* {
    margin: 0;
    padding: 0;
}

.divider {
    border-bottom: 4px solid #B3B3B3;
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    padding: 12px 0 0;
}

* {
    margin: 0;
    padding: 0;
}



.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
color: #B3B3B3;
}

* {
    margin: 0;
    padding: 0;
}























#footer {
    background: none repeat scroll 0 0 #303030;
    clear: both;
    color: #CADABA;
    height: 70px;
    margin: 0 auto;
    padding: 1px 0 0 100px;
    width: 720px;
}
#footer p {
    margin: 18px 0 12px;
}
#footer a:link, #footer a:visited {
    color: #CADABA;
}
#footer a:hover {
    color: #FFFFFF;
}

label {
    color: #FFFFFF;
    display: block;
    float: left;
    font: 16px arial,tahoma;
    margin: 4px 20px 0 0;
    width: 140px;
}
.input {
    background: none repeat scroll 0 0 #303030;
    border: 0 none;
    color: #FFFDDF;
    font: 11px 'lucida sans unicode','lucida grande',tahoma,arial,trebuchet,"sans serif";
    padding: 5px;
    width: 480px;
}
input.input {
}
select.input {
    width: 490px;
}
.input:focus, option:focus {
    border: 0 none;
    outline: 0 none;
}
textarea.input {
    height: 100px;
}
form ul li {
    clear: both;
    padding-bottom: 10px;
}

